* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}


/* HEADER */

header,
footer {
  background-color: #283618;
}

#logo,
h3 {
  font-size: 2.4rem;
  color: #FEFAE0;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 2rem 0;
  margin: 0 auto;
}

ul li {
  padding: 0 1.5rem;
  list-style-type: none;
  display: inline-block;
}

h1 {
  font-size: 4.8rem;
  color: #FEFAE0;
}

p,
li,
button,
.cta-text p {
  font-size: 1.8rem;
  color: #FEFAE0;
}

.intro {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10rem 1rem;
  margin: 0 auto;
}

.left {
  width: 100%;
  max-width: 450px;
  padding: 2rem;
}

header p {
  margin: 1rem 0 2rem;
}

button {
  font-weight: 700;
  background-color: #606C38;
  border: none;
  border-radius: 1rem;
  padding: 1rem 3rem;
}

img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* BODY */

section {
  margin: 10rem 0;
}

h2 {
  font-size: 3.6rem;
  color: #1f2937;
  text-align: center;
  padding-bottom: 10rem;
}

main p {
  color: #1f2937;
}

.item p {
  margin: 1rem 0 4rem;
}

.box-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.item {
  width: 100%;
  max-width: 200px;
  text-align: center;
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 1rem;
}

.box-1 {
  background-color: #BC6C25;
}

.box-2 {
  background-color: #606C38;
}

.box-3 {
  background-color: #DDA15E;
}

.box-4 {
  background-color: #283618;
}

#quote {
  background-color: #FEFAE0;
  margin: 0 auto;
  padding-bottom: 5rem;
}

blockquote,
#quote p {
  font-size: 3rem;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 5rem 2rem 0;
  line-height: 1.4;
}

blockquote {
  text-align: left;
}

#quote>p {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: end;
}

#cta {
  padding: 0 1rem;
}

.cta-container {
  width: 100%;
  max-width: 1000px;
  background-color: #BC6C25;
  margin: 0 auto;
  padding: 5rem 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
}


/* FOOTER */

footer {
  text-align: center;
  padding: 4rem 0;
}

/* -------- */

@media (max-width: 700px) {

  nav,
  .intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 2rem;
  }

  ul li {
    padding-top: 2rem;
  }

  .left {
    text-align: center;
  }

  img {
    margin-top: 5rem;
  }

  .cta-container {
    text-align: center;
    flex-direction: column;
    gap: 3rem;
  }
}